node_modules
**/node_modules
dist
**/dist
dist-ssr
**/dist-ssr
.git
.gitignore
.gstack
.claude
*.log
**/*.log
.DS_Store
.env
**/.env
apps/api/.env
apps/web/.env.development
README.md
docker-compose.yml
docker-compose.prod.yml
DEPLOY.md
